
.top {
  background: #118BC0;
  height: 48px;
  width: 100%;
/*margin-top: 10px; */
}

.frontscreen {
  background: #344051;
  height: 1107px;
  width: 100%;
}

.head {
  background: #344051;
  height: 100px;
  width: 100%;
  margin: 0 50px 35px 50px;
}

.content {
  background: #550106;
  height: 385px;
  width: 625px;
  margin: 64px 18px 32px 10px;
}

.content {
  background: #550106;
  height: 385px;
  width: 625px;
  margin: 64px 18px 32px 10px;
}

.content {
  background: #550106;
  height: 385px;
  width: 625px;
  margin: 64px 18px 32px 10px;
}

.content {
  background: #550106;
  height: 385px;
  width: 625px;
  margin: 64px 18px 32px 10px;
}

.content {
  background: #550106;
  height: 385px;
  width: 625px;
  margin: 64px 18px 32px 10px;
}

.content {
  background: #550106;
  height: 385px;
  width: 625px;
  margin: 64px 18px 32px 10px;
}

.content {
  background: #550106;
  height: 385px;
  width: 625px;
  margin: 64px 18px 32px 10px;
}
